/* class names should be self-explanatory */

.header {
  display: flex;
  justify-content:space-between;
  height: 55px;

  /* sticking header at the top of page */
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;

  /* setting a higher z-index 
  makes our header float above all 
  contents on page */
  z-index: 100;
  border-bottom: solid 1px #dedede;
}


/* all left section styles */
.left-section {
  display: flex;
  align-items: center;
}

/* hamburger menu */
.hamburger-menu {
  cursor: pointer;
  width: 24px;
  margin-right: 25px;
  margin-left: 23px;
}

.line {
  width: 100%;
  height: 3.6px;
  background-color: black;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  margin-bottom: 3px;
}

.clicked .line-1 {
  transform: rotateZ(-405deg) translate(-7px, 2.2px);
}

.clicked .line-2 { 
  opacity: 0;
}

.clicked .line-3 {
  transform: rotateZ(405deg) translate(-7px, -2.2px);
}

.youtube-logo {
  width: 90px;
}

.search-bar-mobile {
  display: none;
}

/* all middle section styles */
.middle-section {
  position: relative;
  flex: 1;
  margin-left: 60px;
  margin-right: 36px;
  max-width: 670px;

  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 36px;
  width: 0;
  margin-left: 17px;
  font-family: Roboto;
  font-size: 17px;
  padding-left: 18px;
  border: solid 1px rgb(204, 204, 204);
  border-radius: 25px 0 0 25px;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.05);
}

.search-bar:focus,
.search-bar-mobile input:focus {
  outline: none;
  
}

.search-bar::placeholder,
.search-bar-mobile input::placeholder {
  
  font-size: 16px;
  font-family: Roboto;
}

.search-button {
  width: 58px;
  height: 40px;
  border: solid 1px rgb(204, 204, 204);
  margin-left: -1px;
  background-color: rgb(247, 247, 247);
  border-radius: 0 20px 20px 0;

  transition: all 0.14s;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.notifications-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button:hover,
.voice-search-button:hover,
.notifications-container:hover {
  background-color: rgb(217, 217, 217);
}

.search-icon {
  width: 24px;
 
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.notifications-container .tooltip {
  font-family: Roboto;
  font-size: 13px;
  position: absolute;
  background-color: rgb(161, 161, 161);
  color: white;
  padding: 5px 10px;
  bottom: -32px;
  white-space: nowrap;
  border-radius: 3px;

  opacity: 0;
  
  /* disables opacity when hovering
  over tooltip itself */
  pointer-events: none;
  transition: all 0.2s;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.notifications-container:hover .tooltip {
  opacity: 0.8;
}

.voice-search-button {
  width: 40px;
  position: relative;
  height: 40px;
  margin-left: 10px;
  border-radius: 20px;
  border: none;
  background-color: #f8f8f8;
  transition: all 0.15s; /*time to make
  all transitions fully active*/
}

.voice-search-icon {
  width: 23px;
}

/* all right section styles */
.right-section {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
}

.right-section .search-button {
  display: none;
}

.upload-icon {
  width: 26px;
}

.notifications-container {
  position: relative;
  cursor: pointer;
  padding: 10px;
  border-radius: 100%;
  transition: all 0.15s;
}

.notifications-icon {
  width: 26px;
}

.notifications-count {
  position: absolute;
  background-color: red;
  color: white;
  top: 8px;
  right: 3px;
  font-size: 10px;
  padding: 1px 5px;
  border-radius: 100%;
  border: 2px solid white;
}

.my-profile {
  width: 34px;
  height: 34px;
  border-radius: 17px;
}

@media (max-width: 500px) {
  .search-bar-mobile {
    display: initial;
    position: absolute;
    top: -100%;
    left: 10%;
    right: 10%;
    transition: all 0.5s;

    display: flex;
    justify-content: center;
  }

  .search-bar-mobile input {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
    font-size: 14px;
  }

  .search-bar-mobile.active {
    top: 60px;
    transition: all 0.5s;
  }

  .hamburger-menu {
    margin-right: 15px;
  }

  .youtube-logo {
    width: 70px;
  }

  .middle-section {
    display: none;
  }

  .right-section {
    width: 200px;
  }

  .search-bar {
    display: none;
  }
  
  .right-section .search-button {
    width: initial;
    height: initial;
    border: none;
    border-radius: 100%;
    padding: 5px;
    padding-left: 7px;

  }

  .voice-search-button {
    margin: 0;
  }

  .right-section .search-button {
    display: initial;
  }
}