.sidebar {
  /* background-color: red; */
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 20%;
  width: 70px;
  margin-left: 5px;
  background-color: white;
  z-index: 200;
  
}

.sidebar-link {
  height: 76px;
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
  scale: 1.1;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 5px;
}

.sidebar-link div {
  font-size: 10px;
}

.sidebar-open {
  left: 0;
  transition: all 0.3s;
}

@media (max-width: 640px) {
  .sidebar {
    left: -100%;
    transition: all 0.3s;
  }

  .sidebar-open {
    left: 0;
    transition: all 0.3s;
  }
}

@media (min-width: 1260px) {
  .sidebar {
    width: 150px;
    padding-left: 10px;
  }
  .sidebar-link {
    flex-direction: initial;
    justify-content: start;
    column-gap: 10px;
    padding: 6px;
  }
  
  .sidebar-link div {
    font-size: 15px;
  }
}
