.video-previews-grid {
  display: grid;
  
  /* video previews have 3 colums
  and take up equal space on page */
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 40px;
}

@media (min-width: 1280px) {
  .video-previews-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  
}

@media (max-width: 768px) {
  .video-previews-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media (max-width: 640px) {
  .video-previews-grid {
    grid-template-columns: 1fr;
  }
  
}

.video-preview {
  cursor: pointer;
  transition: all 0.15s;
}

.video-preview:hover {
  /* scale: 1.02; */

  .thumbnail {
    border-radius: 0;
  }
}

.thumbnail-div {
  margin-bottom: 12px;
  position: relative;
}

.thumbnail {
  border-radius: 14px;
  width: 100%;
  transition: all .15s
}

.video-length {
  position: absolute;
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: 500;
  bottom: 11px;
  right: 5px;
  opacity: 0.8;
  padding: 4px 5px;
  border-radius: 2px;
}

.video-info-div {
  display: grid;
  grid-template-columns: 50px 1fr; /* profile photo takes 50px, and the video info
  takes the remaining free space (1fr)*/

  position: relative;
}

.channel-photo-div .profile-picture {
  width: 70%;
  border-radius: 50%;
} 

/* tooltip */
.channel-tooltip {
  position: absolute;
  display: flex;
  background-color: white;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  z-index: 1100;

  top: 40px;
  left: 10px;
  padding: 15px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  column-gap: 20px;

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s;
}

.channel-photo-div:hover .channel-tooltip {
  opacity: 1;
}

/* tooltip image */
.channel-tooltip .channel-profile img {
  width: 60px;
  border-radius: 50%;
}

/* channel info on tooltip */
.channel-tooltip .channel-info {
  flex: 1;
  white-space: nowrap;
  
}

/* tooltip channel name */
.channel-tooltip .channel-name {
  font-weight: 500;
  margin-bottom: 6px;
  font-size: 18px;
}

.channel-tooltip .channel-stats {
  font-size: 15px;
  color: rgb(96, 96, 96);
}

.video-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 13px;
}

.video-author,
.video-info .video-stats {
  color: rgb(96, 96, 96);
  font-size: 12px;
}

.video-author {
  margin-bottom: 5px;
}
