.video-previews-grid {
  display: grid;
  
  /* video previews have 3 colums
  and take up equal space on page */
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.thumbnail-div {
  margin-bottom: 12px;
  position: relative;
}

.thumbnail {
  width: 100%;
}

.video-length {
  position: absolute;
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: 500;
  bottom: 11px;
  right: 5px;
  opacity: 0.8;
  padding: 4px 5px;
  border-radius: 2px;
}

.video-info-div {
  display: grid;
  grid-template-columns: 50px 1fr; /* profile photo takes 50px, and the video info
  takes the remaining free space (1fr)*/
}

.profile-picture {
  width: 70%;
  border-radius: 50%;
}

.video-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 13px;
}

.video-author,
.video-stats {
  color: rgb(96, 96, 96);
  font-size: 12px;
}

.video-author {
  margin-bottom: 5px;
}
